{namespace dce=ArminVieweg\Dce\ViewHelpers}<?php

$GLOBALS['TCA']['tt_content']['columns']['CType']['config']['items'][] = [
	0 => 'LLL:EXT:dce/Resources/Private/Language/locallang_db.xml:tx_dce_domain_model_dce_long',
	1 => '--div--'
];

\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addTCAcolumns('tt_content', [
<f:for each="{dceFieldsWithNewTcaColumns}" as="dceField">
	'{dceField.new_tca_field_name}' => ['label' => '', 'config' => ['type' => 'passthrough']],
</f:for>
]);
<f:for each="{dceArray}" as="dce">
<f:if condition="{dce.hidden} == 0">
	///////////////////////////////////////////////////// uid: {dce.uid} ///

\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addTcaSelectItem(
	'tt_content',
	'CType',
	[
		'{dce.title -> dce:format.addcslashes()}',
		'dce_dceuid{dce.uid}',
		'<f:if condition="{dce.hasCustomWizardIcon}"><f:then>ext-dce-dceuid{dce.uid}-customwizardicon</f:then><f:else>{dce.wizard_icon}</f:else></f:if>'
	]
);

$GLOBALS['TCA']['tt_content']['ctrl']['typeicon_classes']['dce_dceuid{dce.uid}'] =
'<f:if condition="{dce.hasCustomWizardIcon}"><f:then>ext-dce-dceuid{dce.uid}-customwizardicon</f:then><f:else>{dce.wizard_icon}</f:else></f:if>';

$GLOBALS['TCA']['tt_content']['types']['list']['subtypes_addlist']['dce_dceuid{dce.uid}'] = 'pi_flexform';
$GLOBALS['TCA']['tt_content']['columns']['pi_flexform']['config']['ds'][',dce_dceuid{dce.uid}'] = '<dce:format.tiny><f:render partial="FlexFormsXML" arguments="{dce:dce}"></f:render></dce:format.tiny>';
$GLOBALS['TCA']['tt_content']['types']['dce_dceuid{dce.uid}']['showitem'] = '<dce:format.tiny>
	--palette--;;dce_palette_{dce.uid}_head,
	--palette--;;dce_palette_{dce.uid},
	pi_flexform,
	<f:if condition="{dce.show_access_tab}">
		--div--;LLL:EXT:lang/locallang_tca.xlf:be_users.tabs.access,
		--palette--;LLL:EXT:lang/locallang_tca.xlf:pages.palettes.visibility;visibility,
		--palette--;LLL:EXT:lang/locallang_tca.xlf:be_users.tabs.access;access,
	</f:if>
	<f:if condition="{dce.show_media_tab}">
		--div--;LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:tabs.media,
		assets,
	</f:if>
	<f:if condition="{dce.show_category_tab}">
		--div--;LLL:EXT:lang/locallang_tca.xlf:sys_category.tabs.category,
		categories,
	</f:if>
	--div--;LLL:EXT:cms/locallang_ttc.xml:tabs.extended
</dce:format.tiny>';

	$GLOBALS['TCA']['tt_content']['palettes']['dce_palette_{dce.uid}_head']['canNotCollapse'] = true;
	$GLOBALS['TCA']['tt_content']['palettes']['dce_palette_{dce.uid}_head']['showitem'] = '<dce:format.tiny>
		CType
		<f:if condition="{dce.enable_container}">
			,tx_dce_new_container
		</f:if>
	</dce:format.tiny>';
<f:if condition="{dce.palette_fields}">
	$GLOBALS['TCA']['tt_content']['palettes']['dce_palette_{dce.uid}']['canNotCollapse'] = true;
	$GLOBALS['TCA']['tt_content']['palettes']['dce_palette_{dce.uid}']['showitem'] = '<dce:format.tiny>
	{dce.palette_fields}
	<f:if condition="{dce:be.extensionIsInstalled(key:'gridelements')}">
		,tx_gridelements_container,tx_gridelements_columns
	</f:if>
	<f:if condition="{dce:be.extensionIsInstalled(key:'flux')}">
		,tx_flux_column,tx_flux_parent
	</f:if>
	</dce:format.tiny>';
</f:if>

</f:if>
</f:for>

// global definitions
$GLOBALS['TCA']['tt_content']['columns']['CType']['config']['items'][] = [
	0 => 'LLL:EXT:dce/Resources/Private/Language/locallang_db.xml:tx_dce_domain_model_dce.miscellaneous',
	1 => '--div--'
];

\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addPageTSConfig('mod.wizards.newContentElement.wizardItems.dce.header = LLL:EXT:dce/Resources/Private/Language/locallang_db.xml:tx_dce_domain_model_dce_long');
